.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

#content/*              gitignore에서 제외하면 Quartz또한 파일을 무시하므로 해결하기 전까지 무작정 주석처리빼지 마시오
#!content/.gitkeep